main {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.adventures {
    flex: 0 1 1250px;

    display: grid;
    grid-template-rows: min-content 1fr;

    padding: 50px 20px 0px 20px;
}

.adventures__title {
    text-align: center;
    font-size: 2rem;
}

.adventures__container {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    place-content: start center;

    row-gap: 20px;
    column-gap: 20px;
}

.profile {
    flex: 0 0 300px;

    padding-top: 50px;
    padding-right: 35px;

    min-height: 200px;

    display: flex;
    flex-direction: column;
}

.profile__title {
    text-align: center;
}

.adventure {
    width: 200px;
    text-decoration: none;
}

.adventure__cover {
    height: 280px;
    background-position: center;

    background-size: cover;
}

.adventure_empty .adventure__cover {
    border: 1px dashed var(--mate-color-50);

    display: grid;
    place-content: center;
}

.adventure__message {
    padding-top: 5px;
    text-align: center;
}

.adventure_empty .adventure__message {
    color: var(--mate-color-200);
}