main {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: row;
}

.auth {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    border-radius: 10px;
    flex: 0 0 300px;
    
    margin-top: 50px;
    padding: 0px 0px 25px 0px;
}

.auth_focused {
    border-bottom: 5px solid var(--mate-color-50);
}

.auth__input {
    height: 50px;
    box-sizing: border-box;

    padding: 1.25rem .5rem .5rem .75rem;
    border-radius: 5px;

    font-size: 1rem;
    color: var(--mate-color-400);

    outline: none;
    border: none;
}

.auth__label {
    font-size: 0.85rem;
    height: 1rem;

    color: var(--mate-color-200);

    position: relative;
    top: 1.25rem;
    left: 0.5rem;
}

.auth__title {
    text-align: center;
}

.auth__alt-link {
    align-self: flex-end;

    padding: 10px 0px 5px 25px;
    margin: 10px 0px 5px 0px;
}

.auth__submit {

    border: none;
    font-weight: bold;
}

.auth__elaborate-separator {
    height: 10px;
    display: flex;

    flex-direction: row;
    margin: 7.5px 20px 0px 20px;
}

.auth__elaborate-separator__line {
    flex: 3;
    height: 5px;
    border-bottom: 1px solid var(--mate-color-50);
}

.auth__elaborate-separator__circle {
    width: 10px;
    height: 10px;

    margin: 0px 5px;

    border: 1px solid var(--mate-color-50);
    border-radius: 10px;
}