main {
    display: grid;
    place-content: center;
}

.about-adventure-maker {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
}

.about-adventure-maker > .card {
    flex: 0 350px;
    padding: 20px;
}