main {
    display: grid;
    place-content: center;
}

.signup {
    background-color: var(--background-color-l);
    padding: 35px;

    border-radius: 10px;

    display: grid;

    grid-template-columns: 150px 200px;

    row-gap: 15px;
    column-gap: 10px;

    grid-template-areas: 
        "title   title"
        ".       user-input"
        ".       email-input"
        ".       password1-input"
        ".       password2-input"
        "image   image"
        "submit  submit"
        "login   login";
}

.signup > img {
    grid-area: image;
    width: 100px;

    place-self: center;
}

.signup__tall-input {
    padding: 2.5px;
}

.signup__title {
    grid-area: title;
    text-align: center;
    padding-bottom: 25px;
}

.signup__label {
    place-self: center right;
    text-align: right;
}

.signup__submit {
    grid-area: submit;
    border-style: none;
}

.signup__login-link {
    grid-area: login;
    place-self: center end;
    font-size: small;
}